$header-height: 41px;
$toolbar-height: 47px;
$formula-height: 31px;
$border-color: #c0c0c0;
$info-cell-width: 40px;
$row-height: 31px;
$cell-width: 120px;
$color-active: rgba(194, 44, 25, 0.897);

$dashboard-header-height: 64px;
